/*.carousel-wrapper {
  position:relative;
}
.carousel-viewport {
  margin:0;
  padding:0;
  overflow:hidden;
  position:relative;
}
.carousel-viewport ul,
.carousel-viewport ul li {
  margin:0;
  padding:0;
  position:relative;
}
.carousel-viewport ul li {
  width:100%;
  float:left;
  display:block;
  text-align:center;
}*/


.carousel {
  width: 100%;
  position: relative;
}
.carousel .carousel-tile {
  display: none;
}
.carousel .tile-active {
  display: block;
}

.carousel {
  display: block;
  margin: 0 auto 15px;
  padding: 0;
  overflow: hidden;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel .carousel-tile {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%; /* necessary for non-active slides */
  display: block; /* overrides basic carousel styles */
  z-index: 1;
  -webkit-transition: left 1s ease;
  -moz-transition: left 1s ease;
  -ms-transition: left 1s ease;
  -o-transition: left 1s ease;
  transition: left 1s ease;
}
.carousel-no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.carousel .tile-active {
  left: 0;
  position: relative;
}
.carousel .tile-in {
  left: 0;
}
.carousel-reverse .tile-out {
  left: 100%;
}
.carousel .tile-out,
.carousel-reverse .tile-in {
  left: -100%;
}
.carousel-reverse .carousel-tile {
  -webkit-transition: left .1s ease;
  -moz-transition: left .1s ease;
  -ms-transition: left .1s ease;
  -o-transition: left .1s ease;
  transition: left .1s ease;
}
.carousel-reverse .tile-active {
  left: 0;
}
.carousel .tile-out,
.carousel-reverse .tile-out {
  z-index: 3;
}
.carousel .tile-in,
.carousel-reverse .tile-in {
  z-index: 4;
}
.carousel .tile-active,
.carousel-reverse .tile-active {
  z-index: 5;
}

.carousel-controls {
  position:relative;
  width: 100%;
}
.carousel-pagination {
  float:left;
  display:block;
}
.carousel-pagination,
.carousel-pagination li {
  margin:0;
  padding:0;
  position:relative;
}
.carousel-pagination li {
  float:left; 
  display:block;
}

/*
ACCESSIBILITY
---------------------------------*/
/*
	Render the element invisible to screen readers to make 
	sure the content is ignored. This is used when 
	the element needs to take up space in the document
	flow for dimension calculations.
*/
.state-hidden {
  /*visibility:hidden;*/
}
.state-hidden * {
/*    display:none;*/
  /*visibility:hidden;*/
}
/*.carousel-viewport ul li {
    outline:none;
}
.carousel-tile {
    outline:20px dotted transparent;
}
.carousel-tile.state-focus {
    outline-color:#0069ff !important;
}*/

/*
FLOAT CLEARING
---------------------------*/
/*:after {
    height: 0;
    clear: both;
    content: '';
    display: block;
    visibility: hidden;
}*/
