.carousel-container {
	position:relative;
}
.carousel-viewport {
	margin:0;
	padding:0;
	overflow:hidden;
	position:relative;
}
.carousel-viewport ul,
.carousel-viewport ul li {
	margin:0;
	padding:0;
	position:relative;
}
.carousel-viewport ul li {
	float:left;	
	outline:none;
	display:block;
	/* border:1px dotted transparent; */
}
.carousel-viewport ul * > * {
	width: 100%;
}
.carousel-panel.state-focus {
	border-color:#0069ff;
}
.carousel-controls {
	position: relative;
}
/*
	Render the element invisible to screen readers to make 
	sure the content is ignored. This is used when 
	the element needs to take up space in the document
	flow for dimension calculations.
*/
.state-hidden {
	visibility:hidden;
	* {
		display:none;
		visibility:hidden;
   }
}
/*
COMPONENT CAROUSEL ACCESSIBILITY
---------------------------------*/
.component-container {
    border:1px dotted transparent !important;
	&.state-focus {
		border-color:#0069ff !important;
	}
}